@import "../../public/bower_components/bootstrap/less/bootstrap";


.andrz-bg-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.andrz-bg-absolute {
  .andrz-bg-fill;
  position: absolute;
}

.andrz-bg-fixed {
  .andrz-bg-fill;
  position: fixed;
}

.andrz-button-unstyled {
  &,
  &:hover,
  &:focus,
  &:active {
    border-radius: 0;
    border-color: transparent;
    outline: 0;
    background-image: none;
    background-color: transparent;
    .box-shadow(none);
    font-weight: normal;
    border-radius: 0;
    text-decoration: none;
  }
}
