<div class="andrz-masthead andrz-masthead-full">

  <div class="andrz-bg-image no-css-preload"></div>
  <div class="andrz-bg-overlay no-css-preload"></div>

  <div class="andrz-masthead-center-wrap no-css-preload">
    <div class="andrz-masthead-center">
      <div class="andrz-masthead-image">
        <img src="{{imageRoot}}logo.svg" class="andrz-masthead-logo" />
        <!-- <div class="andrz-masthead-image-shadow"></div> -->
      </div>
      <div class="andrz-masthead-text">
        <div class="andrz-masthead-heading">
          {{site.title}}
        </div>
        <div class="andrz-masthead-lead">
          {{site.description}}
        </div>
      </div>
    </div>
  </div>
</div>
