<!doctype html>
<html class="no-js andrz-page-home andrz-uses-nav andrz-uses-nav-right" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">

        <title>{{#block "title"}}Title{{/block}}</title>

        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- iPad and iPad mini (with @2× display) iOS ≥ 8 -->
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="img/touch/apple-touch-icon-180x180-precomposed.png">
        <!-- iPad 3+ (with @2× display) iOS ≥ 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/touch/apple-touch-icon-152x152-precomposed.png">
        <!-- iPad (with @2× display) iOS ≤ 6 -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <!-- iPhone (with @2× and @3 display) iOS ≥ 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/touch/apple-touch-icon-120x120-precomposed.png">
        <!-- iPhone (with @2× display) iOS ≤ 6 -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/touch/apple-touch-icon-76x76-precomposed.png">
        <!-- iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6 -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <!-- Android Stock Browser and non-Retina iPhone and iPod Touch -->
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <!-- Fallback for everything else -->
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!--
            Chrome 31+ has home screen icon 192×192 (the recommended size for multiple resolutions).
            If it’s not defined on that size it will take 128×128.
        -->
        <link rel="icon" sizes="192x192" href="img/touch/touch-icon-192x192.png">
        <link rel="icon" sizes="128x128" href="img/touch/touch-icon-128x128.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <link rel="stylesheet" href="/css/main.less.css">
        <script src="/bower_components/modernizr/modernizr.js"></script>
    </head>
    <body>

        <div class="andrz-bg-image"></div>
        <div class="andrz-bg-overlay"></div>


        <div class="andrz-nav-anim">

          <div class="andrz-nonnav">
            <a class="andrz-nav-toggle">
              <span class="andrz-nav-toggle-icon andrz-nav-toggle-closed glyphicon glyphicon-menu-hamburger"></span>
              <span class="andrz-nav-toggle-icon andrz-nav-toggle-opened glyphicon glyphicon-chevron-right"></span>
            </a>

            <div class="container-fluid andrz-container-main">
              <main>
                {{> body }}
              </main>
            </div>
          </div>

          <nav class="andrz-nav">

            <ul class="list-unstyled andrz-nav-list" role="menu">
              {{#each social}}
                <li class="andrz-nav-list-item nav nav-list">
                  <a href="{{url}}" target="_blank" class="media andrz-nav-link">
                    <span class="andrz-nav-link-icon fa fa-{{icon}}"></span>
                    <span class="andrz-nav-link-text">{{name}}</span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </nav>
        </div>


        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/jquery-dotimeout/jquery.ba-dotimeout.js"></script>
        <script src="/bower_components/jquery-hoverIntent/jquery.hoverIntent.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/js/index.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        -->

        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
