<!doctype html>
<html class="no-js css-preload
andrz-page-{{#block "pageClass"}}{{/block}}
andrz-nav-root andrz-uses-nav andrz-uses-nav-left"
lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">

        <title>{{#block "title"}}Title{{/block}}</title>

        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{assets}}css/main.less.css">
        <script src="{{assets}}bower_components/modernizr/modernizr.js"></script>
    </head>
    <body>

        <!--
        <div class="andrz-bg-image"></div>
        <div class="andrz-bg-overlay"></div>
        -->

        <div class="andrz-nav-anim">

          <nav class="andrz-nav andrz-nav--dark">

            <!--
            <a class="andrz-nav-control andrz-nav-close">
              <span class="andrz-nav-control-icon andrz-nav-close-icon glyphicon glyphicon-remove"></span>
            </a>
            -->

            <ul class="list-unstyled andrz-nav-list" role="menu">
              {{#each nav}}
                <li class="andrz-nav-list-item nav nav-list">
                  <a href="{{url}}" class="andrz-nav-link">
                    <span class="andrz-nav-link-icon fa fa-{{icon}}"></span>
                    <span class="andrz-nav-link-text">{{name}}</span>
                  </a>
                </li>
              {{/each}}
              <li class="divider" role="presentation">
                <hr />
              </li>
              {{#each social}}
                <li class="andrz-nav-list-item nav nav-list">
                  <a href="{{url}}" target="_blank" class="andrz-nav-link">
                    <span class="andrz-nav-link-icon fa fa-{{icon}}"></span>
                    <span class="andrz-nav-link-text">{{name}}</span>
                  </a>
                </li>
              {{/each}}
            </ul>
          </nav>

          <div class="andrz-nonnav">

            <a class="andrz-nav-control andrz-nav-toggle">
              <span class="andrz-nav-control-icon andrz-nav-toggle-icon andrz-nav-toggle-closed glyphicon glyphicon-menu-hamburger"></span>
              <span class="andrz-nav-control-icon andrz-nav-toggle-icon andrz-nav-toggle-opened glyphicon glyphicon-remove"></span>
            </a>

            <main class="andrz-container-main">
              {{#block "body"}}{{> body }}{{/block}}
            </main>

          </div>

        </div>


        <script src="{{assets}}bower_components/jquery/dist/jquery.js"></script>
        <script src="{{assets}}bower_components/jquery-dotimeout/jquery.ba-dotimeout.js"></script>
        <script src="{{assets}}bower_components/jquery-hoverIntent/jquery.hoverIntent.js"></script>
        <script src="{{assets}}bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="{{assets}}bower_components/css-preload/src/css-preload.js"></script>
        <script src="{{assets}}js/index.js"></script>

        <!-- TODO: enable prod build -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        -->

        <!-- TODO: dev build only -->
        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
